* {
  box-sizing: border-box;
}

.top-page-header{
  width: 100vw;
  background-color:white;
}

.page-icon{
  display: flex;
  justify-content: center;
}

.good-look-icon{
  width: 15vw;
}

.nav{
  width: 100%;
  font-size: 20px;
}

.lists{
  list-style: none;
  display: flex;
  justify-content: center;
}

.login{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  
}

.sign-up{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  
}